body {
	font-family: system-ui;
	text-align: center;
}

input, button, select {
	font-family: inherit;
	font-size: inherit;
}

h1 {
	margin-bottom: 0;
}

.highlight {
	color: red;
}

p {
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
}

#tiles {
	margin: 2px 0;
}

.tile {
	display: inline-block;
	width: 25%;
	height: 25vh;
	padding: 5px;
	box-sizing: border-box;
	position: relative;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

input[type="checkbox"] {
	position: absolute;
	top: 8px;
	left: 8px;
}

.tile a {
	display: inline-block;
	position: absolute;
	top: 8px;
	right: 8px;
	min-width: 24px;
	line-height: 24px;
	text-align: center;
	background-color: #0004;
	color: white;
	text-decoration: none;
	padding: 0 5px;
	box-sizing: border-box;
}

.tile-buttons {
	display: inline-block;
	position: absolute;
	top: 8px;
	right: 8px;
}

.tile-buttons a {
	position: static;
}

.solved-group {
	border: 2px solid red;
	background-color: lightpink;
	margin: 5px 0;
}

.solved-group p {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0;
}